<!-- <header class="bg-dark dk header navbar navbar-fixed-top-xs">
  <div class="navbar-header aside-md">
    <a href="/gate" class="navbar-brand" data-toggle="fullscreen"> Let's Chat </a>
  </div>
  <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
    <li class="hidden-xs">
      <a href="/gate" class="dropdown-toggle dk" data-toggle="dropdown">
        <i class="fa fa-bell"></i>
        <span id="systemMessageCounts" class="badge badge-sm up bg-danger m-l-n-sm count" onclick="systemMessageList()"></span>
      </a>

    </li>
    <li class="dropdown">
      <a id="username" href="/gate" class="dropdown-toggle" data-toggle="dropdown"> [USER NAME] </a>
    </li>
  </ul>
</header> -->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header aside-md">
      <a href="/gate" class="navbar-brand">
        <img id="notifyBell" src="assets/img/chat.svg" class="icon">
      </a>
      <span class="navbar-brand">Let's Chat</span>
    </div>


    <ul class="nav navbar-nav  personal-info">
      <a href="/gate" class="navbar-brand">
        <img id="notifyBell" src="assets/img/bell.svg" class="icon">
      </a>
      <!-- <li class="active">
        <a href="/gate"> Link <span class="sr-only">(current)</span> </a>
      </li>
      <li><a href="/gate">Link</a></li> -->

      <li class="dropdown" dropdown>
        <a dropdownToggle role="button"> [USERNAME] &nbsp;
          <img id="notifyBell" src="assets/img/operation.svg" class="icon">
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a href="/setting">Setting</a></li>
          <!-- <li><a href="/gate">Another action</a></li>
          <li><a href="/gate">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/gate">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/gate">One more separated link</a></li> -->
        </ul>
      </li>
    </ul>

  </div>
</nav>


<div>
  <nav>
    <a routerLink="/user">User</a>&nbsp;
    <a routerLink="/friends">Friends</a>&nbsp;
    <a routerLink="/channels">Channels</a>&nbsp;
    <a routerLink="/setting">Setting</a>&nbsp;
  </nav>
  <router-outlet></router-outlet>
</div>
