<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header aside-md">
      <a href="/gate" class="navbar-brand">
        <img id="notifyBell" src="assets/img/chat.svg" class="icon">
      </a>
      <span class="navbar-brand">Let's Chat</span>
    </div>

    <a href="/gate" class="navbar-brand">
      <img id="notifyBell" src="assets/img/bell.svg" class="icon">
    </a>
    <a href="/user"> &nbsp;[USERNAME]&nbsp;</a>


    <div class="d-flex">
      <div class="dropdown mr-l">
        <a class="dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id="notifyBell" src="assets/img/operation-3.svg" class="icon">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
          <a class="dropdown-item" (click)="selectFeature('setting')">Setting</a>
          <!-- <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </div>
    </div>

  </div>
</nav>



<div class="container-fluid gedf-wrapper">
  <div class="row">

    <div class="col-md-3">
      <div class="card">

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h8 text-muted">
              <a (click)="selectFeature('user')">User</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="h8 text-muted">
              <a (click)="selectFeature('friends')">Friends</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="h8 text-muted">
              <img id="directory" src="assets/img/dir.svg" class="icon">&nbsp;
              <a (click)="selectFeature('channels')">Channels</a>
            </div>

            <div *ngIf="featureSelecter === 'channels'">
              <div class="list-group-item">
                Create New (+)
              </div>
              <div class="list-group-item">
                <ul class="list-group list-group-flush list_info">
                  <li *ngFor="let channel of channelList" class="list-group-item">
                    <div class='operation_bar' (click)="currentChannel=channel.ciid">
                      {{channel.name}}
                    </div>
                    <div class='operation_bar'>
                      (-)
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-6 gedf-main">
      <app-user *ngIf="featureSelecter === 'user'"></app-user>
      <app-friends *ngIf="featureSelecter === 'friends'"></app-friends>
      <app-channels *ngIf="featureSelecter === 'channels'" [channelInfoID]='currentChannel'></app-channels>
      <app-setting *ngIf="featureSelecter === 'setting'"></app-setting>
    </div>


    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>


  </div>
</div>
